.top-banner{
    width: 100%;
    height: 100px;
    position: relative;
    top: 100px;
    display: flex;
    background-color: #0026ff;
    justify-content: center;
    align-items: center;
}

.top-banner h2{

    font-size: 2.75rem;
    position: absolute;
    color: #ffffff;
}

.top-banner .refresh {
    margin-left: auto;
    margin-right: 80px;
}

.top-banner .refresh .btn {

    height: 40px;
    font-size: 1.5rem;
}

.cards {

    width: 100%;
    height: 79vh;
    position: relative;
    top: 100px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.card {

    height: 200px;
    width: 100px;
    margin: 0 30px;
    flex: 1 0 24%;
    background-color: #29388f;
    color: #ffffff;
}