.navbar {

    height: 100px;

}

.navbar-brand{
    font-weight: 700;
    font-size: 2rem !important;
}

.navbar a{

    font-size: 1.5rem;
    margin: 0 30px;
}

.navbar .btn{

    font-size: 1.50rem;
}

.navbar .dropdown-item{

    margin: 0;
}